@model string
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Путь
        </dt>
        <dd class = "col-sm-10">
            @Model
        </dd>
        <dt class="col-sm-2">
            Картинка
        </dt>
        <dd class="col-sm-10">
            <img width="600" src="@Model" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
